@import
url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    margin: 10px 50px 50px 50px;
}

.controlscreen {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    fill: #fff;
    fill-opacity: 0.85;
    margin: 0 auto;
    text-align: center;
}

.heading {
    font-size: 48px;
    font-weight: bold
}

.model-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    background-color: #eee;
    border: 0.5px solid #999;
}

.model-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

.projection {
    width: 100%;
    height: 100%;
    fill: #f7f7fa;
}

.range {
    stroke: #f00;
    stroke-width: 0px;
}

.roachnode {
    stroke: #333;
    stroke-width: 1px;
}

.backoff {
    stroke: #f00;
    stroke-dasharray: 3,3;
}

.locality {
    stroke: #66a;
    stroke-width: 1.5px;
    fill: #fff;
    fill-opacity: 0.6;
}

.locality-label {
    fill: white;
    stroke-width: 0px;
    font-size: 12.5px;
    font-weight: bold;
    alignment-baseline: middle;
    text-anchor: middle;
    pointer-events: none;
}

.locality-label-background {
    fill: #595f6c;
    stroke-width: 0px;
}

.current-locality {
    fill: black;
    font-size: 30px;
    font-weight: bold;
}

.status-ring {
    fill: none;
    stroke-width: 2.5px;
}

.status-ring.available {
    opacity: 0.5;
    stroke: #82cc00;
}

.status-ring.mixed {
    opacity: 0.5;
    stroke: #d9cc4f;
}

.status-ring.unavailable {
    opacity: 0.5;
    stroke: #d95d4f;
}

.capacity-background {
    fill: #daeefa;
    stroke: #51bbfd;
    stroke-width: 0.25px;
}

.capacity-used {
    fill: #51bbfd;
    stroke: #daeefa;
    stroke-width: 0.25px;
}

.capacity-used.detail {
    fill: #daeefa;
    stroke: #51bbfd;
    stroke-width: 0.5px;
}

.capacity-used.detail.highlight {
    fill: #51bbfd;
    stroke: #daeefa;
}

.arc-label .guide {
    stroke: #000;
    stroke-width: 0.6px;
}

.arc-label text {
    fill: #152849;
    stroke-width: 0px;
    font-size: 10px;
    font-weight: bold;
    text-anchor: middle;
}

.capacity-label {
    fill: #5abbfd;
    stroke-width: 0px;
    font-size: 10px;
    font-weight: bold;
    text-anchor: start;
}

.capacity-used-label {
    fill: #51bbfd;
    stroke-width: 0px;
    font-size: 10px;
    font-weight: bold;
}

.capacity-centric .capacity-used-pct-label {
    fill: #51bbfd;
    stroke-width: 0px;
    font-size: 36px;
    font-weight: medium;
    alignment-baseline: middle;
    text-anchor: middle;
}

.capacity-used-text {
    fill: #595f6c;
    stroke-width: 0px;
    font-size: 10px;
    font-weight: bold;
    alignmnent-baseline: middle;
    text-anchor: middle;
}

.client-activity {
    stroke-linecap: round;
    stroke-width: 5px;
}

.client-activity-label {
    stroke-width: 0px;
    font-size: 10px;
    font-weight: bold;
    dominant-baseline: central;
}

.network-activity {
    stroke: #152849;
    stroke-linecap: round;
    stroke-width: 5px;
}

.network-activity-label {
    fill: #152849;
    stroke-width: 0px;
    font-size: 10px;
    font-weight: bold;
    dominant-baseline: central;
}

.locality-link {
    stroke: #ccc;
    stroke-width: 2.0px;
    fill-opacity: 0;
}

.incoming-throughput-label {
    fill: #8833cc;
    stroke-width: 0px;
    font-size: 10px;
    text-anchor: end;
}

.outgoing-throughput-label {
    fill: #82cc00;
    stroke-width: 0px;
    font-size: 10px;
    text-anchor: end;
    alignment-baseline: hanging;
}

.rtt-label {
    fill: #152849;
    stroke-width: 0px;
    font-size: 10px;
    text-anchor: start;
    alignment-baseline: middle;
}

.expand-label {
    fill: #595f6c;
    stroke-width: 0px;
    font-size: 12.5px;
    font-weight: bold;
    text-anchor: middle;
}

.node-unreachable {
    fill: #f00;
    fill-opacity: 0.1;
}

.node-full {
    fill: #f00;
    fill-opacity: 0.2;
}

.request {
}

.link {
    stroke: #ccc;
    stroke-width: 0px;
}

.route {
    stroke: #ccc;
    stroke-width: 0px;
}

.geopath {
    fill: #eee;
    stroke: #ccc;
    stroke-width: .5px;
}

.extras-button {
    display: inline-block;
    border-radius: 3px;
    border: 0.5px solid #1f77b4;
    background-color: #aec7e8;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    margin: 2px 2px;
}

.back-arrow {
    cursor: pointer;
}

.button {
    display: inline-block;
    border-radius: 4px;
    border-width: 0.5px;
    border-style: solid;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 25% 5px 25%;
}

.button.start {
    background-color: #daeefa;
    border-color: #51bbfd;
}

.button.next {
    background-color: #c7e9c0;
    border-color: #74c476;
}

.button.stop {
    background-color: #e6c1c2;
    border-color: #d62728;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.explanation {
    background-color: #daeefa;
    border: 1px double #51bbfd;
    width: 100%;
    margin: 5px 0px 5px 0px;
    clear: both;
}

.explanation-text {
    padding: 5px;
}

.explain-img {
    float: right;
}

.grid {
    stroke-width: 0.5px;
}

.grid-outline {
    fill: none;
    stroke: #51bbfd;
    pointer-events: bounding-box;
}

.grid-label {
    font-size: 10px;
    stroke-width: 0px;
    fill: #51bbfd;
    font-weight: bold;
}

.grid-range {
    stroke: #666;
    stroke-width: 0.25px;
}